@import "tailwindcss";

/* 1. TEMA MERAH (DEFAULT) */
:root, [data-theme="red"] {
  --bg-color: #CE1E24;      /* Merah DOM */
  --text-color: #ffffff;    /* Putih */
  --accent-color: #121212;  /* Hitam */
  --border-color: #121212;  /* Hitam */
}

/* 2. TEMA HITAM */
[data-theme="black"] {
  --bg-color: #121212;      /* Hitam Pekat */
  --text-color: #ffffff;    /* Putih */
  --accent-color: #CE1E24;  /* Merah DOM */
  --border-color: rgba(206, 30, 36, 0.5); /* Merah Transparan */
}

/* 3. TEMA PUTIH */
[data-theme="white"] {
  --bg-color: #ffffff;      /* Putih Bersih */
  --text-color: #121212;    /* Hitam */
  --accent-color: #CE1E24;  /* Merah DOM */
  --border-color: #121212;  /* Hitam */
}

/* Daftarkan variabel ke Tailwind v4 */
@theme inline {
  --color-theme-bg: var(--bg-color);
  --color-theme-text: var(--text-color);
  --color-theme-accent: var(--accent-color);
  --color-theme-border: var(--border-color);
  
  --font-sans: var(--font-montserrat), sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-sans);
  transition: background-color 0.5s ease, color 0.5s ease; /* Transisi smooth saat ganti tema */
}